doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Foodie Admin
  // plugins:css
  link(rel='stylesheet' href='vendors/feather/feather.css')
  link(rel='stylesheet' href='vendors/ti-icons/css/themify-icons.css')
  link(rel='stylesheet' href='vendors/css/vendor.bundle.base.css')
  // endinject
  // Plugin css for this page
  link(rel='stylesheet' href='vendors/datatables.net-bs4/dataTables.bootstrap4.css')
  link(rel='stylesheet' href='vendors/ti-icons/css/themify-icons.css')
  link(rel='stylesheet' type='text/css' href='js/select.dataTables.min.css')
  // End plugin css for this page
  // inject:css
  link(rel='stylesheet' href='css/vertical-layout-light/style.css')
  // endinject
  link(rel='shortcut icon' href='images/favicon.png')
.container-scroller
  // partial:partials/_navbar.html
  nav.navbar.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
    .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center
      a.navbar-brand.brand-logo.mr-5(href='/')
        img.mr-2(src='images/logo.svg' alt='logo')
      a.navbar-brand.brand-logo-mini(href='/')
        img(src='images/logo-mini.svg' alt='logo')
    .navbar-menu-wrapper.d-flex.align-items-center.justify-content-end
      button.navbar-toggler.navbar-toggler.align-self-center(type='button' data-toggle='minimize')
        span.icon-menu
      ul.navbar-nav.mr-lg-2
        li.nav-item.nav-search.d-none.d-lg-block
          .input-group
            #navbar-search-icon.input-group-prepend.hover-cursor
              span#search.input-group-text
                i.icon-search
            input#navbar-search-input.form-control(type='text' placeholder='Search now' aria-label='search' aria-describedby='search')
      ul.navbar-nav.navbar-nav-right
        li.nav-item.nav-profile.dropdown
          a#profileDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
            | Settings
          .dropdown-menu.dropdown-menu-right.navbar-dropdown(aria-labelledby='profileDropdown')
            a.dropdown-item(href='/logout')
              i.ti-power-off.text-primary
              |                 Logout
        li.nav-item.nav-settings.d-none.d-lg-flex
          a.nav-link(href='#')
            i.icon-ellipsis
      button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button' data-toggle='offcanvas')
        span.icon-menu
  // partial
  .container-fluid.page-body-wrapper
    // partial:partials/_settings-panel.html
    .theme-setting-wrapper
      #settings-trigger
        i.ti-settings
      #theme-settings.settings-panel
        i.settings-close.ti-close
        p.settings-heading SIDEBAR SKINS
        #sidebar-light-theme.sidebar-bg-options.selected
          .img-ss.rounded-circle.bg-light.border.mr-3
          | Light
        #sidebar-dark-theme.sidebar-bg-options
          .img-ss.rounded-circle.bg-dark.border.mr-3
          | Dark
        p.settings-heading.mt-2 HEADER SKINS
        .color-tiles.mx-0.px-4
          .tiles.success
          .tiles.warning
          .tiles.danger
          .tiles.info
          .tiles.dark
          .tiles.default
    // partial
    // partial:partials/_sidebar.html
    nav#sidebar.sidebar.sidebar-offcanvas
      ul.nav
        li.nav-item
          a.nav-link(href='/')
            i.icon-grid.menu-icon
            span.menu-title Dashboard
        li.nav-item
          a.nav-link(data-toggle='collapse' href='#ui-basic' aria-expanded='false' aria-controls='ui-basic')
            i.icon-layout.menu-icon
            span.menu-title Product
            i.menu-arrow
          #ui-basic.collapse
            ul.nav.flex-column.sub-menu
              li.nav-item
                a.nav-link(href='/') Add Category
              li.nav-item
                a.nav-link(href='/') View Category
              li.nav-item
                a.nav-link(href='/') Add Product
              li.nav-item
                a.nav-link(href='/') View Product  
        li.nav-item
          a.nav-link(data-toggle='collapse' href='#auth' aria-expanded='false' aria-controls='auth')
            i.icon-head.menu-icon
            span.menu-title Users
            i.menu-arrow
          #auth.collapse
            ul.nav.flex-column.sub-menu
              li.nav-item
                a.nav-link(href='/')  Add User 
              li.nav-item
                a.nav-link(href='/')  Manage User         
    // partial
    .main-panel
      .content-wrapper
        .row
          .col-md-12.grid-margin
            .row
              .col-12.col-xl-8.mb-4.mb-xl-0
                h3.font-weight-bold Welcome Admin!!!
                h6.font-weight-normal.mb-0
                  | All systems are running smoothly! You have 
                  span.text-primary {alerts_count} unread alerts!
              .col-12.col-xl-4
                .justify-content-end.d-flex
                  .dropdown.flex-md-grow-1.flex-xl-grow-0
                    button#dropdownMenuDate2.btn.btn-sm.btn-light.bg-white.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                      i.mdi.mdi-calendar
                      |  Today (10 Jan 2021)
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuDate2')
                      a.dropdown-item(href='#') January - March
                      a.dropdown-item(href='#') March - June
                      a.dropdown-item(href='#') June - August
                      a.dropdown-item(href='#') August - November
        .row
          .col-md-12.grid-margin.transparent
            .row
              .col-md-6.mb-4.stretch-card.transparent
                .card.card-tale
                  .card-body
                    p.mb-4 Today&rsquo;s Orders
                    p.fs-30.mb-2 {Order Count Today Order Count}
                    p 10.00% (30 days)
              .col-md-6.mb-4.stretch-card.transparent
                .card.card-dark-blue
                  .card-body
                    p.mb-4 Total Customers
                    p.fs-30.mb-2 {Customers count}
                    p 22.00% (30 days)
            .row
              .col-md-6.mb-4.mb-lg-0.stretch-card.transparent
                .card.card-light-blue
                  .card-body
                    p.mb-4 Total Orders
                    p.fs-30.mb-2 {Total Orders Count}
                    p 2.00% (30 days)
              .col-md-6.stretch-card.transparent
                .card.card-light-danger
                  .card-body
                    p.mb-4 Number of Pending Orders
                    p.fs-30.mb-2 {Orders with pending status}
                    p 0.22% (30 days)
        .row
          .col-md-6.grid-margin.stretch-card
            .card
              .card-body
                p.card-title Order Details
                p.font-weight-500
                  | The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc
                .d-flex.flex-wrap.mb-5
                  .mr-5.mt-3
                    p.text-muted Order value
                    h3.text-primary.fs-30.font-weight-medium 12.3k
                  .mr-5.mt-3
                    p.text-muted Orders
                    h3.text-primary.fs-30.font-weight-medium 14k
                  .mr-5.mt-3
                    p.text-muted Users
                    h3.text-primary.fs-30.font-weight-medium 71.56%
                  .mt-3
                    p.text-muted Downloads
                    h3.text-primary.fs-30.font-weight-medium 34040
                canvas#order-chart
          .col-md-6.grid-margin.stretch-card
            .card
              .card-body
                .d-flex.justify-content-between
                  p.card-title Sales Report
                  a.text-info(href='#') View all
                p.font-weight-500
                  | The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc
                #sales-legend.chartjs-legend.mt-4.mb-2
                canvas#sales-chart
        .row
          .col-md-12.grid-margin.stretch-card
            .card
              .card-body
                p.card-title Advanced Table
                .row
                  .col-12
                    .table-responsive
                      table#example.display.expandable-table(style='width:100%')
                        thead
                          tr
                            th Quote#
                            th Product
                            th Business type
                            th Policy holder
                            th Premium
                            th Status
                            th Updated at
                            th
      // content-wrapper ends
      // partial:partials/_footer.html
      footer.footer
        .d-sm-flex.justify-content-center.justify-content-sm-between
          span.text-muted.text-center.text-sm-left.d-block.d-sm-inline-block
            | Copyright &copy; 2021. All rights reserved.
          span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
            | Hand-crafted &amp; made with 
            i.ti-heart.text-danger.ml-1
      // partial
    // main-panel ends
  // page-body-wrapper ends
// container-scroller
// plugins:js
script(src='vendors/js/vendor.bundle.base.js')
// endinject
// Plugin js for this page
script(src='vendors/chart.js/Chart.min.js')
script(src='vendors/datatables.net/jquery.dataTables.js')
script(src='vendors/datatables.net-bs4/dataTables.bootstrap4.js')
script(src='js/dataTables.select.min.js')
// End plugin js for this page
// inject:js
script(src='js/off-canvas.js')
script(src='js/hoverable-collapse.js')
script(src='js/template.js')
script(src='js/settings.js')
script(src='js/todolist.js')
// endinject
// Custom js for this page
script(src='js/dashboard.js')
script(src='js/Chart.roundedBarCharts.js')
// End custom js for this page
